// login-wrapper
.login-wrapper {
    display: flex;
    justify-content: center;
    width: 389px;
    margin: 0 auto;
    gap: 10px;
    .card {
        border: none;
    }
    .card-body {
        padding: 0;
    }
    .login-form-card {
        flex: 1 1 0;
        max-width: 100%;
        padding: 0
    }
    .form-control {
        width: 100%;
        border-radius: 5px;
        border: 2px solid #000;
        background: #FFF;
    }
    .login-btn-wrapper {
        width: 100%;
    }
    .login-btn {
        width: 100%;
    }
}